<div class="app-container">
  <mat-toolbar color="primary">
    <span>Store App</span>
    <span class="spacer"></span>
    <button mat-raised-button color="warn" routerLink="products">Products</button>
    <button mat-raised-button color="warn" [matMenuTriggerFor]="menu">Settings</button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="settings/config">Config</button>
      <button mat-menu-item routerLink="settings/settings">Settings</button>
    </mat-menu>
  </mat-toolbar>
  <div class="outlet-container">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <mat-toolbar color="primary">
      <span>Store App Footer</span>
    </mat-toolbar>
  </div>
</div>